/*
	hayashi
		https://hayashikejinan.com/webwork/css/725/
*/

/* @charset "UTF-8"; */

/* fontawesome web font */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
.wiki-content h1:before,
.wiki-content h2:before,
.wiki-content h3:before,
.wiki-content h4:before,
.wiki-content h5:before,
.wiki-content h6:before {
	color: #E44D26; /* アイコンの色、適宜変更のこと */
	content: "\f00c";
	font-family: "FontAwesome",sans-serif;
	margin-right: 5px; /* アイコン右マージン */
}

/* 見出し下パディング */
.wiki-content h1,
.wiki-content h2,
.wiki-content h3,
.wiki-content h4,
.wiki-content h5,
.wiki-content h6 {
    padding-bottom: 15px
}

/* 見出し下ボーダー */
.wiki-content h1 { border-bottom: 10px solid #DDDDDD; }
.wiki-content h2 { border-bottom: 8px solid #DDDDDD; }
.wiki-content h3 { border-bottom: 6px solid #DDDDDD; }
.wiki-content h4 { border-bottom: 4px solid #DDDDDD; }
.wiki-content h5 { border-bottom: 2px solid #DDDDDD; }
.wiki-content h6 { border-bottom: 1px solid #DDDDDD; }
