/*
	mitemita
		http://mitemita.com/headlines-change/
*/

.article h1 {
  margin-top:30px;
  margin-bottom:20px;
  font-size: 30px;
  line-height:117%;
}

#archive-title{
  padding-bottom:20px;
  font-size:26px;
}

.article h2 {
  border-left:1px solid #1B13BA;
  margin: 40px -29px 20px;
  padding:25px 30px;
  font-size:26px;
}

.article h3,
#comment-area h3,
#related-entries h3{
  font-size:23px;
  border-bottom:5px solid #1B13BA;
  padding:10px 0;
}

.article h4, .article h5, .article h6{
  font-size:20px;
  padding:8px 0;
}

.article  h4{
  border-bottom:5px dashed #1B13BA;
}
