/*
	rui
        https://rui-log.com/vscode-markdown-preview-custom/
*/

.wiki-content h1 {
    margin: 1.5em 0 1.5em;
	padding: 0.2em 0.5em;
	background: #dfefff;
	box-shadow: 0px 0px 0px 5px #dfefff;
	border: dashed 2px white;
}

.wiki-content h2 {
	position: relative;
    margin: 1.5em 0 1.5em;
	padding: 0.6em;
	background: #e0edff;
}

.wiki-content h2:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 15px solid #e0edff;
	width: 0;
	height: 0;
}

.wiki-content h3 {
	background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.wiki-content h4 {
	position: relative;
	border-bottom: solid 3px #cce4ff;
}

.wiki-content h4:after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #5472cd;
	bottom: -3px;
	width: 20%;
}
