/*
	takeki
*/

.wiki-content h1 {
 counter-reset: chapter;
 text-decoration: underline;
 text-align: center;
}

.wiki-content h2::before {
 counter-increment: chapter;
 content: counter(chapter) ". ";
}

.wiki-content h2 {
 counter-reset: sub-chapter;
 text-decoration: underline;
}

.wiki-content h3::before {
 counter-increment: sub-chapter;
 content: counter(chapter) "."counter(sub-chapter)". ";
}

.wiki-content h3 {
 counter-reset: section;
 text-decoration: underline;
}

.wiki-content h4::before {
 counter-increment: section;
 content: counter(chapter) "."counter(sub-chapter)"."counter(section)" ";
}

.wiki-content h4 {
 text-decoration: underline dotted;
}




